<script type="text/template">
    <div class="box" id="main-box">
        <div class="box-header with-border">
            <h3 class="box-title"><%= data.section.code %></h3>

            <div class="box-tools pull-right">
            </div>
            <!-- /.box-tools -->
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <% _.each(data.sensor_types, function(sensor_type) { %>
            <!--a href="#section/<%= data.section.code %>/sensor-type/<%= sensor_type.code %>"-->
            <h4><%= sensor_type.desc %></h4>
            <!--/a-->
            <table class="table table-condensed">
                <thead>
                <tr>
                    <th>Sensor</th>
                </tr>
                </thead>
                <tbody>
                <% _.each(sensor_type.sensors, function(sensor) { %>
                <tr>
                    <td>
                        <a class="btn btn-default btn-<%= (sensor.button) %>"
                           href="sensor/<%= (sensor.sensor_type.code).toLowerCase() %>/<%= (sensor.code).toLowerCase() %>">
                            <%= sensor.desc %>
                        </a>
                    </td>
                </tr>
                <% }); %>
                </tbody>
            </table>
            <% }); %>
        </div>
        <!-- /.box-body -->
    </div><!-- /.box -->
</script>