<script type="text/template">
    <div class="box" id="main-box">
        <div class="box-header with-border">
            <h3 class="box-title"><%= data.section.code %></h3>

            <div class="box-tools pull-right">
            </div>
            <!-- /.box-tools -->
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <% _.each(data.parameters, function(parameter) { %>
            <!--a href="#section/<%= data.section.code %>/parameter/<%= parameter.code %>"-->
            <h4><%= parameter.desc %></h4>
            <!--/a-->
            <table class="table table-condensed">
                <thead>
                <tr>
                    <th>Sensor</th>
                </tr>
                </thead>
                <tbody>
                <% _.each(parameter.sensors, function(sensor) { %>
                <tr>
                    <td>
                        <!--a class="btn btn-default" href="#section/<%= data.section.code %>/parameter/<%= parameter.code %>/sensor/<%= sensor.code %>"-->
                        <a class="btn btn-default"
                           href="sensor/<%= (sensor.sensor_type.code).toLowerCase() %>/<%= (sensor.code).toLowerCase() %>">
                            <%= sensor.desc %>
                        </a>
                    </td>
                </tr>
                <% }); %>
                </tbody>
            </table>
            <% }); %>
        </div>
        <!-- /.box-body -->
    </div><!-- /.box -->
    <div id="graph-container">
    </div>
    <div id="data-container">
    </div>
</script>