#my-content-container {
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    text-align: center;
}

#my-content {
    width: 952px;
    margin-right: auto;
    margin-left: auto;
}

#my-canvas {
    width: 100%;
    height: 600px;
    background-image: url('../../../assets/images/bridge_top_view_6.jpg');
    background-repeat: no-repeat;
    background-size: 700px;
    background-position: 260px -20px;
    border: 1px solid #cdcdcd;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
}

#my-content .form-group {
    width: 100px;
}

#my-wind-direction-chart {
    left: 318px;
    top: 128px;
    position: absolute;
    width: 300px;
    z-index: 1;
}

.form-control.big, .input-group-addon.big {
    font-size: 24px;
    height: 75px;
    font-weight: bold;
}

.form-control.big {
    font-size: 42px;
}

.my-wind-speed-container {

}

.my-wind-speed-container .title {
    top: 0px;
    background: #3c8dbc;
    color: white;
    padding: 5px;
    border: 1px solid #cdcdcd;
    border-bottom: none;
}

#my-wind-speed {
    position: absolute;
    width: 250px;
    top: 20px;
    left: 20px;
}

#my-datetime {
    position: absolute;
    top: 125px;
    left: 20px;
    width: 250px;
}