#my-content-container {
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    text-align: center;
}

#my-content {
    width: 952px;
    margin-right: auto;
    margin-left: auto;
}

#my-canvas {
    width: 100%;
    height: 600px;
    background-image: url('../../../assets/images/bridge_top_view_6.jpg');
    background-repeat: no-repeat;
    background-size: 700px;
    background-position: 130px -20px;
    border: 1px solid #cdcdcd;
    margin-bottom: 10px;
    position: relative;
}

#my-content .form-group {
    width: 100px;
}

#my-wind-direction-chart-2 {
    left: 265px;
    top: 5px;
    position: absolute;
    width: 230px;
    z-index: 1;
}

#my-wind-direction-chart-1 {
    left: 176px;
    top: 250px;
    position: absolute;
    width: 230px;
    z-index: 4;
}

.my-aoa-container {
    width: 250px;
    height: 270px;
    background: url('../../../assets/images/bridge_pylon.jpg') #ffffff;
    background-size: 135px;
    background-repeat: no-repeat;
    border: 1px solid #cdcdcd;
}

.my-aoa-container-1 {
    background-position: 90px 8px;
}

.my-aoa-container-2 {
    background-position: 30px 8px;
}

.my-aoa-container .title {
    position: relative;
    top: 0px;
    background: #3c8dbc;
    color: white;
    padding: 5px;
}

.my-aoa-container .chart {
    height: 200px;
    position: relative;
    top: 13px;
    left: 4px;
}

#my-aoa-container-2 {
    position: absolute;
    top: 20px;
    left: 680px;
}

#my-aoa-container-1 {
    position: absolute;
    top: 310px;
    left: 680px;

}

.form-control.big, .input-group-addon.big {
    font-size: 24px;
    height: 75px;
    font-weight: bold;
}

.form-control.big {
    font-size: 42px;
}

.my-wind-speed-container {
}

.my-wind-speed-container .title {
    top: 0px;
    background: #3c8dbc;
    color: white;
    padding: 5px;
    border: 1px solid #cdcdcd;
    border-bottom: none;
}

#my-wind-speed-2 {
    position: absolute;
    width: 250px;
    top: 20px;
    left: 20px;
}

#my-wind-speed-1 {
    position: absolute;
    width: 250px;
    top: 474px;
    left: 410px;
}

#my-datetime-1 {
    position: absolute;
    width: 250px;
    top: 125px;
    left: 20px;
}

#my-datetime-2 {
    position: absolute;
    width: 250px;
    top: 441px;
    left: 410px;
}