
#my-content-container {
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    text-align: center;
}

#my-content {
    width: 952px;
    margin-right: auto;
    margin-left: auto;
}

#my-canvas {
    width: 100%;
    height: 600px;
    background-image: url('../../../assets/images/bridge_top_view_6.jpg');
    background-repeat: no-repeat;
    background-size: 700px;
    background-position: 260px -20px;
    border: 1px solid #cdcdcd;
    margin-bottom: 10px;
    position: relative;
}

#my-content .form-group {
    width: 100px;
}

.atrh-container {
    width: 250px;
    height: 200px;
    float: left;
    border: 1px solid #cdcdcd;
    background: #ffffff;
}

.atrh-container .title {
    padding: 5px;
    background: #3c8dbc;
    color: white;
}

.atrh-container .chart {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 65px;
    left: 5px;
}

.atrh-container .temp {
    width: 150px;
    position: absolute;
    top: 50px;
    left: 85px;
}

.atrh-container .humidity {
    width: 150px;
    position: absolute;
    top: 115px;
    left: 85px;
}

.atrh-container .input-group {
    width: 150px;
}

.form-control.big, .input-group-addon.big {
    font-size: 24px;
    height: 40px;
    font-weight: bold;
}

#atrh-container-1 {
    position: absolute;
    top: 380px;
    left: 20px;
}

#atrh-container-2 {
    position: absolute;
    top: 20px;
    left: 20px;
}

#atrh-container-3 {
    position: absolute;
    top: 20px;
    left: 680px;
}

#atrh-container-4 {
    position: absolute;
    top: 380px;
    left: 680px;
}

.atrh {
    width: 20px;
    height: 20px;
    background: #FFFFFF;
    position: absolute;
    z-index: 1;
    box-shadow: -1px -1px 5px #888888;
}

.atrh .symbol-desc {
    position: absolute;
    left: 30px;
    background: #f1f1f1;
    padding: 5px;
    width: 180px;
    box-shadow: -2px -2px 5px #cdcdcd;
}

.atrh .section {
    font-weight: bold;
}

#atrh01 {
    top: 365px;
    left: 440px;
}

#atrh02 {
    top: 255px;
    left: 490px;
}

#atrh03 {
    top: 320px;
    left: 470px;
}

#atrh04 {
    top: 330px;
    left: 480px;
}

#atrh01-datetime {
    width: 250px;
    position: absolute;
    top: 346px;
    left: 20px;
}

#atrh02-datetime {
    width: 250px;
    position: absolute;
    top: 220px;
    left: 20px;
}

#atrh03-datetime {
    width: 250px;
    position: absolute;
    top: 220px;
    left: 680px;
}

#atrh04-datetime {
    width: 250px;
    position: absolute;
    top: 346px;
    left: 680px;
}