#my-content-container {
    width: 100%;
    overflow-x: scroll;
}

#my-graph, #my-table {
    width: 900px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background-image: url('{{ URL::to("assets/images/bridge_side_1.png"); }}');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 40% 30%;
}
