#my-content-container {
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    text-align: center;
}

#my-content {
    width: 952px;
    margin-right: auto;
    margin-left: auto;
}

#my-canvas {
    width: 100%;
    height: 600px;
    border: 1px solid #cdcdcd;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
}

#my-background {
    width: 100%;
    height: 600px;
    background-image: url('../../../assets/images/bridge_pylon.jpg');
    background-repeat: no-repeat;
    background-size: 420px;
    background-position: 265px -5px;
    margin-bottom: 10px;
    position: relative;
}

.tilt {
    width: 10px;
    height: 10px;
    background: #CDCDCD;
    position: absolute;
    z-index: -1;
    border: 1px solid #cdcdcd;
    cursor: pointer;
    overflow: in;
}

.tilt span {
    position: absolute;
    left: 20px;
    background: #f1f1f1;
    padding: 5px;
    z-index: 9999;
    box-shadow: -1px -1px 5px #888888;
    color: #666;
}

#tilt19 {
    top: 150px;
    left: 518px;
}

#tilt20 {
    top: 150px;
    left: 533px;
}

#tilt21 {
    top: 82px;
    left: 518px;
}

#tilt22 {
    top: 82px;
    left: 533px;
}

.strtr {
    width: 10px;
    height: 20px;
    background: #FEFEFE;
    position: absolute;
    z-index: -1;
    border: 1px solid #cdcdcd;
    cursor: pointer;
}

.strtr span {
    position: absolute;
    left: 20px;
    background: #f1f1f1;
    padding: 5px;
    box-shadow: -1px -1px 5px #888888;
    color: #666;
    z-index: 9999;
}

#strtr43 {
    top: 76px;
    left: 406px;
}

#strtr45 {
    top: 76px;
    left: 436px;
}

#strtr44 {
    top: 76px;
    left: 503px;
}

#strtr46 {
    top: 76px;
    left: 533px;
}

#strtr35 {
    top: 495px;
    left: 402px;
    -webkit-transform: rotate(-13deg);
    -moz-transform: rotate(-13deg);
    -ms-transform: rotate(-13deg);
    -o-transform: rotate(-13deg);
    transform: rotate(-13deg);
}

#strtr35 span {
    top: 10px;
    -webkit-transform: rotate(13deg);
    -moz-transform: rotate(13deg);
    -ms-transform: rotate(13deg);
    -o-transform: rotate(13deg);
    transform: rotate(13deg);
}

#strtr37 {
    top: 495px;
    left: 433px;
    -webkit-transform: rotate(-13deg);
    -moz-transform: rotate(-13deg);
    -ms-transform: rotate(-13deg);
    -o-transform: rotate(-13deg);
    transform: rotate(-13deg);
}

#strtr37 span {
    top: 10px;
    -webkit-transform: rotate(13deg);
    -moz-transform: rotate(13deg);
    -ms-transform: rotate(13deg);
    -o-transform: rotate(13deg);
    transform: rotate(13deg);
}

#strtr36 {
    top: 495px;
    left: 506px;
    -webkit-transform: rotate(13deg);
    -moz-transform: rotate(13deg);
    -ms-transform: rotate(13deg);
    -o-transform: rotate(13deg);
    transform: rotate(13deg);
}

#strtr36 span {
    top: -10px;
    -webkit-transform: rotate(-13deg);
    -moz-transform: rotate(-13deg);
    -ms-transform: rotate(-13deg);
    -o-transform: rotate(-13deg);
    transform: rotate(-13deg);
}

#strtr38 {
    top: 495px;
    left: 536px;
    -webkit-transform: rotate(13deg);
    -moz-transform: rotate(13deg);
    -ms-transform: rotate(13deg);
    -o-transform: rotate(13deg);
    transform: rotate(13deg);
}

#strtr38 span {
    top: -10px;
    -webkit-transform: rotate(-13deg);
    -moz-transform: rotate(-13deg);
    -ms-transform: rotate(-13deg);
    -o-transform: rotate(-13deg);
    transform: rotate(-13deg);
}

.pic-desc {
    position: absolute;
    font-size: 18px;
}

#view-desc {
    top: 560px;
    left: 420px;
    font-size: 22px;
    text-decoration: underline;
}

#klabat-desc {
    top: 18px;
    left: 545px;
}

#bunaken-desc {
    top: 18px;
    left: 340px;
}

.form-control.big, .input-group-addon.big {
    font-size: 24px;
    height: 38px;
    font-weight: bold;
}

.form-control.big {
    font-size: 24px;
}

.my-input-container {
    position: absolute;
    width: 140px;
}

.my-input-container .title {
    background: #3c8dbc;
    color: white;
    padding: 5px;
    border: 1px solid #cdcdcd;
    border-bottom: none;
}

#tilt21-input {
    top: 20px;
    left: 630px;
}

#tilt22-input {
    top: 20px;
    left: 790px;
}

#tilt19-input {
    top: 200px;
    left: 630px;
}

#tilt20-input {
    top: 200px;
    left: 790px;
}

/*Strain*/

#strtr43-input {
    top: 110px;
    left: 20px;
}

#strtr45-input {
    top: 110px;
    left: 180px;
}

#strtr44-input {
    top: 110px;
    left: 630px;
}

#strtr46-input {
    top: 110px;
    left: 790px;
}

/* Bawah */

#strtr35-input {
    top: 510px;
    left: 20px;
}

#strtr37-input {
    top: 510px;
    left: 180px;
}

#strtr36-input {
    top: 510px;
    left: 630px;
}

#strtr38-input {
    top: 510px;
    left: 790px;
}
