#my-content-container {
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    text-align: center;
}

#my-content {
    width: 952px;
    margin-right: auto;
    margin-left: auto;
}

#my-canvas {
    width: 100%;
    height: 600px;
    border: 1px solid #cdcdcd;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
}

#my-background {
    width: 100%;
    height: 600px;
    background-image: url('../../../assets/images/bridge_pylon_side.jpg');
    background-repeat: no-repeat;
    background-size: 410px;
    background-position: 263px 20px;
    margin-bottom: 10px;
    position: relative;
}

.tilt {
    width: 10px;
    height: 10px;
    background: #FEFEFE;
    position: absolute;
    z-index: -1;
    border: 1px solid #cdcdcd;
    cursor: pointer;
}

.tilt span {
    position: relative;
    left: 20px;
    background: #f1f1f1;
    padding: 5px;
    z-index: 1;
    box-shadow: -1px -1px 5px #888888;
    color: #666;
}

#tilt20 {
    top: 150px;
    left: 469px;
}

#tilt22 {
    top: 85px;
    left: 469px;
}

.strtr {
    width: 10px;
    height: 20px;
    background: #FEFEFE;
    position: absolute;
    z-index: -1;
    border: 1px solid #cdcdcd;
    cursor: pointer;
}

.strtr span {
    position: absolute;
    top: 20px;
    background: #f1f1f1;
    padding: 5px;
    z-index: 1;
    box-shadow: -1px -1px 5px #888888;
    color: #666;
}

#strtr47 {
    top: 120px;
    left: 449px;
}

#strtr41 {
    top: 120px;
    left: 488px;
}

#strtr39 {
    top: 495px;
    left: 449px;
}

#strtr33 {
    top: 495px;
    left: 488px;
}

.pic-desc {
    position: absolute;
    font-size: 18px;
}

#view-desc {
    top: 560px;
    left: 427px;
    font-size: 22px;
    text-decoration: underline;
}

#south-desc {
    top: 18px;
    left: 545px;
}

#north-desc {
    top: 18px;
    left: 340px;
}

.form-control.big, .input-group-addon.big {
    font-size: 24px;
    height: 40px;
    font-weight: bold;
}

.form-control.big {
    font-size: 24px;
}

.my-input-container {
    position: absolute;
    width: 200px;
}

.my-input-container .title {
    background: #3c8dbc;
    color: white;
    padding: 5px;
    border: 1px solid #cdcdcd;
    border-bottom: none;
}

#tilt22-input {
    top: 20px;
    left: 630px;
}

#tilt20-input {
    top: 200px;
    left: 630px;
}

/*Strain*/

#strtr47-input {
    top: 110px;
    left: 120px;
}

#strtr41-input {
    top: 110px;
    left: 630px;
}

/* Bawah */

#strtr39-input {
    top: 510px;
    left: 120px;
}

#strtr33-input {
    top: 510px;
    left: 630px;
}