#my-content-container {
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    text-align: center;
}

#my-content {
    width: 952px;
    margin-right: auto;
    margin-left: auto;
}

#my-canvas {
    width: 100%;
    height: 600px;
    background-image: url('../../../assets/images/bridge_top_view_6.jpg');
    background-repeat: no-repeat;
    background-size: 700px;
    background-position: 260px -20px;
    border: 1px solid #cdcdcd;
    margin-bottom: 10px;
    position: relative;
}

#my-content .form-group {
    width: 100px;
}

.form-control.big, .input-group-addon.big {
    font-size: 24px;
    height: 40px;
    font-weight: bold;
}

.temp-container {
    width: 250px;
    height: 200px;
    float: left;
    border: 1px solid #cdcdcd;
    background: #ffffff;
}

.temp-container .title {
    padding: 5px;
    background: #3c8dbc;
    color: white;
}

.temp-container .chart {
    width: 100px;
    height: 100px;
    position: relative;
    top: 35px;
    left: 5px;
}

.temp-container .temp {
    width: 150px;
    position: relative;
    top: -85px;
    left: 85px;
}

.temp-container .input-group {
    width: 150px;
}

#temp-container-1 {
    position: absolute;
    top: 380px;
    left: 20px;
}

#temp-container-2 {
    position: absolute;
    top: 20px;
    left: 20px;
}

#temp-container-3 {
    position: absolute;
    top: 20px;
    left: 680px;
}

#temp-container-4 {
    position: absolute;
    top: 380px;
    left: 680px;
}

.temp-container .chart {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 65px;
    left: 5px;
}

.temp-container .temp {
    width: 150px;
    position: absolute;
    top: 80px;
    left: 85px;
}

.temperature {
    width: 20px;
    height: 20px;
    background: #cdcdcd;
    position: absolute;
    z-index: 1;
    box-shadow: -1px -1px 5px #888888;
    border-radius: 25px;
}

.temperature .symbol-desc {
    position: absolute;
    left: 30px;
    background: #f1f1f1;
    padding: 5px;
    width: 180px;
    box-shadow: -2px -2px 5px #cdcdcd;
}

.temperature .section {
    font-weight: bold;
}

#temp03 {
    top: 205px;
    left: 495px;
}

#temp04 {
    top: 215px;
    left: 505px;
}

#temp01 {
    top: 430px;
    left: 415px;
}

#temp02 {
    top: 440px;
    left: 425px;
}

/* ATRH */

.atrh-container {
    width: 250px;
    height: 120px;
    float: left;
    border: 1px solid #cdcdcd;
    background: #ffffff;
}

.atrh-container .title {
    padding: 5px;
    background: #3c8dbc;
    color: white;
}

.atrh-container .temp {
    width: 150px;
    position: absolute;
    top: 40px;
    left: 50px;
}

.atrh-container .input-group {
    width: 150px;
}

#atrh-container-1 {
    position: absolute;
    top: 240px;
    left: 20px;
}

#atrh-container-2 {
    position: absolute;
    top: 240px;
    left: 680px;
}

.atrh {
    width: 20px;
    height: 20px;
    background: #FFFFFF;
    position: absolute;
    z-index: 1;
    box-shadow: -1px -1px 5px #888888;
}

.atrh .symbol-desc {
    position: absolute;
    left: 30px;
    background: #f1f1f1;
    padding: 5px;
    width: 180px;
    box-shadow: -2px -2px 5px #cdcdcd;
}

.atrh .section {
    font-weight: bold;
}

#atrh01 {
    top: 365px;
    left: 428px;
}

#atrh02 {
    top: 255px;
    left: 490px;
}

#temp01-datetime {
    width: 250px;
    position: absolute;
    top: 546px;
    left: 20px;
}

#temp02-datetime {
    width: 250px;
    position: absolute;
    top: 186px;
    left: 20px;
}

#temp03-datetime {
    width: 250px;
    position: absolute;
    top: 186px;
    left: 680px;
}

#temp04-datetime {
    width: 250px;
    position: absolute;
    top: 546px;
    left: 680px;
}

#atrh01-datetime {
    width: 250px;
    position: absolute;
    top: 340px;
    left: 20px;
}

#atrh02-datetime {
    width: 250px;
    position: absolute;
    top: 340px;
    left: 680px;
}