#my-content-container {
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    text-align: center;
}

#my-content {
    width: 952px;
    margin-right: auto;
    margin-left: auto;
}

#my-canvas {
    width: 100%;
    height: 600px;
    border: 1px solid #cdcdcd;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
}

#my-background {
    width: 100%;
    height: 600px;
    background-image: url('../../../assets/images/bridge_girder.jpg');
    background-repeat: no-repeat;
    background-size: 600px;
    background-position: 170px 220px;
    margin-bottom: 10px;
    position: relative;
}

.tilt {
    width: 15px;
    height: 15px;
    background: #FFFFFF;
    position: absolute;
    z-index: -1;
    border: 1px solid #cdcdcd;
    cursor: pointer;
}

.tilt span {
    position: absolute;
    left: 20px;
    background: #f1f1f1;
    padding: 5px;
    z-index: 1;
    box-shadow: -1px -1px 5px #888888;
    color: #666;
}

#tilt0 {
    top: 310px;
    left: 206px;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

#tilt0 span {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    top: -5px;
    left: 0px;
}

#tilt1 {
    top: 310px;
    left: 724px;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

#tilt1 span {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    top: -5px;
    left: 0px;
}

.pic-desc {
    position: absolute;
    font-size: 18px;
}

#view-desc {
    top: 360px;
    left: 457px;
    font-size: 22px;
    text-decoration: underline;
}

#bunaken-desc {
    top: 230px;
    left: 845px;
}

#klabat-desc {
    top: 230px;
    left: 40px;
}

.form-control.big, .input-group-addon.big {
    font-size: 24px;
    height: 40px;
    font-weight: bold;
}

.form-control.big {
    font-size: 24px;
}

.my-input-container {
    position: absolute;
    width: 170px;
}

.my-input-container .title {
    background: #3c8dbc;
    color: white;
    padding: 5px;
    border: 1px solid #cdcdcd;
    border-bottom: none;
}

/*Strain*/

#tilt2-input {
    top: 110px;
    left: 180px;
}

#tilt3-input {
    top: 110px;
    left: 630px;
}

#tilt0-input {
    top: 410px;
    left: 120px;
}

#tilt1-input {
    top: 410px;
    left: 690px;
}