#my-content-container {
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    text-align: center;
}

#my-content {
    width: 952px;
    margin-right: auto;
    margin-left: auto;
}

#my-canvas {
    width: 100%;
    height: 600px;
    border: 1px solid #cdcdcd;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
}

#my-background {
    width: 100%;
    height: 600px;
    background-image: url('../../../assets/images/bridge_side_1.png');
    background-repeat: no-repeat;
    background-size: 850px;
    background-position: 60px 10px;
    margin-bottom: 10px;
    position: relative;
}

.tilt {
    width: 15px;
    height: 15px;
    background: #ffffff;
    position: absolute;
    z-index: -1;
    border: 1px solid #cdcdcd;
    cursor: pointer;
}

.tilt span {
    position: absolute;
    left: 20px;
    background: #f1f1f1;
    padding: 5px;
    z-index: 1;
    box-shadow: -1px -1px 5px #888888;
    color: #666;
}

#tilt01 {
    top: 230px;
    left: 881px;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

#tilt01 span {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    top: -5px;
    left: 0px;
}

#tilt02 {
    top: 230px;
    left: 881px;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

#tilt02 span {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    top: -5px;
    left: 0px;
}

#tilt03 {
    top: 220px;
    left: 845px;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

#tilt3 span {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    top: -5px;
    left: 0px;
}

#tilt04 {
    top: 220px;
    left: 845px;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

#tilt04 span {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    top: -5px;
    left: 0px;
}

#tilt05 {
    top: 220px;
    left: 720px;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

#tilt05 span {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    top: -5px;
    left: 0px;
}

#tilt06 {
    top: 220px;
    left: 720px;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

#tilt06 span {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    top: -5px;
    left: 0px;
}

#tilt07 {
    top: 220px;
    left: 600px;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

#tilt07 span {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    top: -5px;
    left: 0px;
}

#tilt08 {
    top: 220px;
    left: 600px;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

#tilt08 span {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    top: -5px;
    left: 0px;
}

#tilt09 {
    top: 220px;
    left: 460px;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

#tilt09 span {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    top: -5px;
    left: 0px;
}

#tilt10 {
    top: 220px;
    left: 460px;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

#tilt10 span {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    top: -5px;
    left: 0px;
}

#tilt11 {
    top: 220px;
    left: 355px;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

#tilt11 span {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    top: -5px;
    left: 0px;
}

#tilt12 {
    top: 220px;
    left: 355px;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

#tilt12 span {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    top: -5px;
    left: 0px;
}

#tilt13 {
    top: 220px;
    left: 258px;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

#tilt13 span {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    top: -5px;
    left: 0px;
}

#tilt14 {
    top: 220px;
    left: 258px;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

#tilt14 span {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    top: -5px;
    left: 0px;
}

#tilt15 {
    top: 220px;
    left: 110px;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

#tilt15 span {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    top: -5px;
    left: 0px;
}

#tilt16 {
    top: 220px;
    left: 110px;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

#tilt16 span {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    top: -5px;
    left: 0px;
}

#tilt17 {
    top: 230px;
    left: 70px;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

#tilt17 span {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    top: -5px;
    left: 0px;
}

#tilt18 {
    top: 230px;
    left: 70px;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

#tilt18 span {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    top: -5px;
    left: 0px;
}


.pic-desc {
    position: absolute;
    font-size: 18px;
}

#view-desc {
    top: 350px;
    left: 437px;
    font-size: 22px;
    text-decoration: underline;
}

#bunaken-desc {
    top: 230px;
    left: 845px;
}

#klabat-desc {
    top: 230px;
    left: 40px;
}

.form-control.big, .input-group-addon.big {
    font-size: 24px;
    height: 40px;
    font-weight: bold;
}

.form-control.big {
    font-size: 24px;
}

.my-input-container {
    position: absolute;
    width: 150px;
}

.my-input-container .title {
    background: #3c8dbc;
    color: white;
    padding: 5px;
    border: 1px solid #cdcdcd;
    border-bottom: none;
}

/*Strain*/

#tilt01-input {
    top: 400px;
    left: 780px;
}

#tilt02-input {
    top: 400px;
    left: 780px;
}

#tilt03-input {
    top: 20px;
    left: 780px;
}

#tilt04-input {
    top: 20px;
    left: 780px;
}

#tilt05-input {
    top: 400px;
    left: 620px;
}

#tilt06-input {
    top: 400px;
    left: 620px;
}

#tilt07-input {
    top: 20px;
    left: 620px;
}

#tilt08-input {
    top: 20px;
    left: 620px;
}

#tilt09-input {
    top: 400px;
    left: 405px;
}

#tilt10-input {
    top: 400px;
    left: 405px;
}

#tilt11-input {
    top: 400px;
    left: 180px;
}

#tilt12-input {
    top: 400px;
    left: 180px;
}

#tilt13-input {
    top: 20px;
    left: 180px;
}

#tilt14-input {
    top: 20px;
    left: 180px;
}

#tilt15-input {
    top: 400px;
    left: 20px;
}

#tilt16-input {
    top: 400px;
    left: 20px;
}

#tilt17-input {
    top: 20px;
    left: 20px;
}

#tilt18-input {
    top: 20px;
    left: 20px;
}