<script type="text/template">
    <li><a href=""><i class="fa fa-dashboard"></i> <span>Dashboard</span></a></li>
    <li><a href="setting"><i class="fa fa-cog"></i> <span>Setting</span></a></li>
    <li class="header">Sensors</li>
    <% _.each(data.sensorTypes, function(sensorType) { %>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-circle-thin"></i> <span><%= sensorType.desc %></span> <i
                class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
            <li><a href=""></a></li>
            <% _.each(sensorType.sensors, function(sensor) { %>
            <li><a href="sensor/<%= (sensorType.code).toLowerCase() %>/<%= (sensor.code).toLowerCase() %>"> <i
                    class="fa fa-circle"></i> <%= sensor.code %></a></li>
            <% }); %>
        </ul>
    </li>
    <% }); %>
    <li class="header">Power & Rack Monitoring</li>
    <li><a href="racktemp"><span>Rack Temperature</span></a></li>
    <li><a href="power-source"><span>Power Source</span></a></li>
    <li><a href="ups"><span>UPS</span></a></li>
</script>