.brand {
    padding: 5px;
    border-bottom: #cdcdcd 1px solid;
    background-color: rgba(255, 255, 255, 0.7);
}

.brand .brand-image {
    float: left;
    padding: 2px 5px 2px;
}

.brand .brand-text {
    padding: 2px 0;
    font-size: 9px;
    font-weight: bold;
    line-height: 17px;
}

#canvas-bridge-container {
    text-align: center;
    overflow-x: scroll;
}

#canvas-bridge {
    text-align: center;
    -webkit-overflow-scrolling: touch
}

#canvas-bridge div {
    background: white;
}

.section-point {
    cursor: pointer;
}

a.btn-off {
    background: black;
    color: #f0f0f0;
}

.alert-danger, .alert-info {
    background: none;
    color: #000000;
}

.btn-danger, .btn-success, .btn-info {
    color: #CDCDCD;
}